ul {
    list-style: none;
}

body {
    font-family: Roboto;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;
}

.logoweb {
    color: #2196F3;
}

.logostudio {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.navigation {
    font-size: 500;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-nav-item {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.header-nav-item:hover {
    color: #2196F3;
}

.header-list {
    font-family: Roboto;
    font-size: 500;
    display: flex;
    gap: 50px;
}

.header-list-item:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.header-list-item {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.section {
    background-image: linear-gradient(#2F303A66, #2F303A66), url(img/section.jpg);
    opacity: 0.9;
    width: 1450px;
    height: 600px;
    display: flex;
    padding-top: 200px;
    padding-bottom: 280px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-title {
    width: 696px;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136%;
    letter-spacing: 2.64px;
    text-transform: uppercase;

}

.section-button-text {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
}

.section-button {
    width: 216px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    flex-shrink: 0;
    border: none;
}

.section-info {
    display: flex;
    padding-top: 90px;
    padding-bottom: 90px;
    align-items: center;
    justify-content: space-between;
}

.info-list {
    display: flex;
}

.info-item {
    padding-left: 30px;
}

.info-div {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    background-position: center;
}

.info-antena {
    background-image: url(img/antenna.svg);
}

.info-clock {
    background-image: url(img/clock.svg);
}

.info-diagram {
    background-image: url(img/diagram.svg);
}

.info-astronaut {
    background-image: url(img/astronaut.svg);
}

/* .section-info-h3::before {
        content: '';
        background-image: url(img/diagram.svg);
    } */
.info-titles {
    width: 270px;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.info-text {
    width: 270px;
    height: 72px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.whatwedo-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.whatwedo-list {
    display: flex;
    margin-bottom: 94px;
}

.whatwedo-img {
    width: 370px;
    height: 294px;
    padding-left: 30px;
}

.section-ourteam {
    background: #F5F4FA;
    display: flex;
    align-items: center;
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}

.ourteam-title {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    padding-bottom: 50px;
}

.ourteam-list {
    display: flex;
    gap: 30px;
}

.ourteam-img {
    width: 270px;
    height: 260px;
    padding-bottom: 30px;
}

.ourteam-subtitles {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    padding-bottom: 10px;
}

.ourteam-text {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.card {
    width: 270px;
    height: 368px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    gap: 8px;
}

.portfolio-button {
    padding: 6px 22px;
    border-radius: 4px;
    background: #F5F4FA;
    border-color: #FFF;
    border: none;
}

.portfolio-button-text {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 163%;
    letter-spacing: 0.48px;
}


.portfolio-button:hover {
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


.portfolio-button:hover .portfolio-button-text {
    color: #FFFFFF;
}

.portfoliocard-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 30px;
}

.portfoliocard {
    width: calc((100% - 15px * 6) / 3);
    border: 1px solid #EEE;
}

.portfoliocard:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfoliocard-title {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    padding-left: 24px;
    padding-top: 20px;
}

.portfoliocard-text {
    width: 322px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    letter-spacing: 0.48px;
    padding-left: 24px;
    padding-bottom: 20px;
}

img {
    width: 370px;
    height: 294px;
}

.footer-portfolio {
    margin-top: 94px;
}

footer {
    width: 1450px;
    height: 252px;
    flex-shrink: 0;
    background: #2F303A;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address {
    width: 231px;
    height: 21px;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.mail {
    width: 136px;
    height: 21px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.phone {
    width: 231px;
    height: 21px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.logostudio2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    display: flex;
    margin-bottom: 20px;
}