ul {
    list-style: none;
}

body {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.logoweb {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logostudio {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.navigation {
    font-size: 500;
}

.header-nav-li1,
.header-nav-li2,
.header-nav-li3 {
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.28px;
}


.header-nav-li3:hover {
    color: #2196F3;
}

.header-nav-li2:hover {
    color: #2196F3;
}

.header-nav-li1:hover {
    color: #2196F3;
}

.header-ul {
    font-family: Roboto;
    font-size: 500;
}

.header-ul-li:hover {
    color: #2196F3;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.header-ul-li {
    color: #757575;
    font-size: 14px;
    letter-spacing: 0.28px;
}

.section {
    width: 1600px;
    height: 600px;
    flex-shrink: 0;
    background: #2F303A;
}

.section-title {
    width: 696px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 136%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.section-button-p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 187%;
    letter-spacing: 0.96px;
}

.section-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.section-info-h3 {
    width: 270px;
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.section-info-p {
    width: 270px;
    height: 72px;
    flex-shrink: 0;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.section-whatwedo-h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.section-whatwedo-img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

.section-ourteam-h2 {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.section-ourteam-img {
    width: 270px;
    height: 260px;
    flex-shrink: 0;
}

.section-ourteam-h3 {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.section-ourteam-p {
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.card {
    width: 270px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
}

.section-portfolio-button1 {
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.section-portfolio-button2 {
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
}

.section-portfolio-button3 {
    width: 112px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
}

.section-portfolio-button4 {
    width: 103px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
}

.section-portfolio-button5 {
    width: 130px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F5F4FA;
}

.sectionportfolio-button-p1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 163%;
    letter-spacing: 0.48px;
}

.sectionportfolio-button-p {
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 163%;
    letter-spacing: 0.48px;
}

.portfoliocard {
    width: 370px;
    height: 404px;
    flex-shrink: 0;
    border: 1px solid #EEE;
    background: #FFF;
}

h4 {
    width: 322px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
}

.li-p {
    width: 322px;
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 188%;
    letter-spacing: 0.48px;
}

img {
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}

footer {
    width: 1600px;
    height: 252px;
    flex-shrink: 0;
    background: #2F303A;
}

.address {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.mail {
    width: 136px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.phone {
    width: 231px;
    height: 21px;
    flex-shrink: 0;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 171%;
    letter-spacing: 0.42px;
}

.logostudio2 {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}