// header {
//     display: flex;
//     align-items: center;
//     padding-top: 25px;
//     padding-bottom: 25px;
//     justify-content: space-between;


//     .line {
//         width: 100%;
//         color: $lineColor;
//     }

//     .logoweb {
//         color: $mainColor;
//     }

//     .logostudio {
//         color: #000;
//         font-family: Raleway;
//         font-size: 26px;
//         font-weight: 700;
//         letter-spacing: 0.78px;
//     }

//     .navigation {
//         font-size: 500;


//         .nav-list {
//             display: flex;
//             gap: 50px;

//             .header-nav-item {
//                 color: #212121;
//                 font-size: 14px;
//                 letter-spacing: 0.28px;
//                 transition-property: color, after;
//                 transition-duration: 250ms;
//                 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//             }

//             .header-nav-item:hover {
//                 color: $mainColor;
//             }

//             .active {
//                 position: relative;
//             }

//             .active::after {
//                 position: absolute;
//                 content: '';
//                 width: 100%;
//                 height: 4px;
//                 background: $mainColor;
//                 display: block;
//                 top: 44px;
//                 border-radius: 2px;
//             }
//         }
//     }


//     .header-list {
//         font-family: Roboto;
//         font-size: 500;
//         display: flex;
//         gap: 50px;


//         .header-list-item:hover {
//             color: $mainColor;
//         }

//         .svg-envelopephone {
//             fill: $secondaryColor;
//             margin-right: 10px;
//         }

//         .header-list-item:hover .svg-envelopephone {
//             fill: $mainColor;
//         }

//         .header-list-item {
//             color: $secondaryColor;
//             font-size: 14px;
//             letter-spacing: 0.28px;
//             transition-property: color, fill;
//             transition-duration: 250ms;
//             transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//         }
//     }
// }
.header {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: space-between;

    .navigation {
        display: none;
    }

    .header-list {
        display: none;
    }

    .logoweb {
        color: $mainColor;
    }

    .logostudio {
        color: #000;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.78px;
    }

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 768px) {
        .menu-btn {
            display: none;
        }

        .line {
            width: 100%;
            color: $lineColor;
        }

        .navigation {
            display: flex;
            font-size: 500;


            .nav-list {
                display: flex;
                gap: 50px;

                .header-nav-item {
                    color: #212121;
                    font-size: 14px;
                    letter-spacing: 0.28px;
                    transition-property: color, after;
                    transition-duration: 250ms;
                    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                }

                .header-nav-item:hover {
                    color: $mainColor;
                }

                .active {
                    position: relative;
                }

                .active::after {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 4px;
                    background: $mainColor;
                    display: block;
                    top: 44px;
                    border-radius: 2px;
                }
            }
        }


        .header-list {
            font-family: Roboto;
            font-size: 500;
            display: block;
            gap: 50px;


            .header-list-item:hover {
                color: $mainColor;
            }

            .svg-envelopephone {
                fill: $secondaryColor;
                margin-right: 10px;
            }

            .header-list-item:hover .svg-envelopephone {
                fill: $mainColor;
            }

            .header-list-item {
                color: $secondaryColor;
                font-size: 14px;
                letter-spacing: 0.28px;
                transition-property: color, fill;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            }

        }
    }

    @media screen and (min-width: 1200px) {
        .header-list {
            display: flex;
        }
    }
}