// .section {
//     @extend %flex;
//     background-image: linear-gradient(#2F303A66, #2F303A66), url(../img/section.jpg);
//     opacity: 0.9;
//     width: 1450px;
//     height: 600px;
//     padding-top: 200px;
//     padding-bottom: 280px;
//     flex-direction: column;


//     .section-title {
//         width: 696px;
//         color: $mainWhite;
//         text-align: center;
//         font-size: 44px;
//         font-weight: 900;
//         line-height: 136%;
//         letter-spacing: 2.64px;
//         text-transform: uppercase;
//     }

//     .section-button {
//         @extend %main-button
//     }
// }

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#2F303A66, #2F303A66), url(../img/mobilesection.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    flex-direction: column;
    padding-bottom: 118px;
    padding-top: 118px;


    .section-title {
        color: $mainWhite;
        text-align: center;
        font-size: 26px;
        font-weight: 900;
        letter-spacing: 1.56px;
        text-transform: uppercase;
    }

    .section-button {
        padding: 10px 32px;
        border-radius: 4px;
        background: $mainColor;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        color: $mainWhite;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 187%;
        letter-spacing: 0.96px;
    }


    @media screen and (min-width: 480px) {

    }

    @media screen and (min-width: 768px) {
        .section {
            background-image: linear-gradient(#2F303A66, #2F303A66), url(../img/herotablet.jpg);
            padding-top: 200px;
            padding-bottom: 280px;
            flex-direction: column;
        }
        .section-title {
            padding: 0 204px;
        }
    }

    @media screen and (min-width: 1200px) {
        .section {
            background-image: linear-gradient(#2F303A66, #2F303A66), url(../img/section.jpg);
            height: 600px;
        }
    }
}