.menu-btn {
    border: none;
    background-color: transparent;
}

.modal-menu {
    position: fixed;
    visibility: hidden;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);


    .modal-content-menu {
        margin: auto;
        background: $mainWhite;
    }

    .close {
        border-radius: 100%;
        float: right;
        margin: 6px;
        width: 30px;
        height: 30px;
        border-color: $infoBackground;
        background: $mainWhite;
    }

    .svg-close {
        padding-top: 5px;
        padding-right: 5px;
        fill: #000000;
    }

    .navigation-menu {
        font-size: 500;

        .nav-list-menu {
            display: flex;
            justify-content: space-between;
            padding: 40px 25px;
        }

        .header-nav-item-menu {
            color: #212121;
            font-size: 14px;
            letter-spacing: 0.28px;
            text-align: center;
        }

        .active {
            position: relative;
        }

        .active::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 4px;
            background: $mainColor;
            display: block;
            top: 20px;
            border-radius: 2px;
        }
    }

    .header-list-menu {
        font-family: Roboto;
        font-size: 500;

        .svg-envelopephone {
            fill: $secondaryColor;
            margin-right: 10px;
        }

        .header-list-item:hover .svg-envelopephone {
            fill: $mainColor;
        }

        .header-list-item {
            color: $secondaryColor;
            font-size: 14px;
            letter-spacing: 0.28px;
            display: flex;
            justify-content: center;
            text-align: center;
            padding-bottom: 20px;
        }

    }
}