.menu-btn {
    border: none;
    background-color: transparent;
}

.modal-menu {
    position: fixed;
    visibility: hidden;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);


    .modal-content-menu {
        margin: auto;
        background: $mainWhite;
    }

    .close {
        border-radius: 100%;
        float: right;
        margin: 6px;
        width: 30px;
        height: 30px;
        border: none;
        background: $mainWhite;
    }

    .svg-close {
        fill: #000000;
    }

    .navigation-menu {
        font-size: 500;

        .nav-list-menu {
            display: flex;
            justify-content: space-between;
        }

        .header-nav-item-menu {
            color: #212121;
            font-size: 40px;
            font-weight: 500;
            letter-spacing: 0.8px;
            padding-left: 40px;

        }

        .studio {
            color: $mainColor;
        }
    }

    .header-list-menu {
        font-family: Roboto;
        font-size: 500;
        padding-top: 302px;

        .header-list-item {
            color: $secondaryColor;
            font-size: 34px;
            font-weight: 500;
            letter-spacing: 0.68px;
            text-align: center;
            padding-bottom: 32px;
            padding-left: 40px;
        }
    }

    .links-menu-list {
        display: flex;
        padding-top: 64px;
        padding-left: 40px;
        padding-bottom: 48px;
    }

    .links-menu-item {
        color: #2196F3;
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.36px;
        padding-right: 20px;
    }
}